* {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    margin: 0;
  }

  .employees {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .emp-item {
    margin: 1rem 0;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    border-radius: 10px;
  }
  
  .emp-item h2,
  .emp-item h4,
  .emp-item p {
    margin: 0.5rem 0;
  }
  
  .emp-item h2 {
    font-size: 1.5rem;
    color: #414141;
  }
  
  .emp-item button {
    border-color: #4b072f;
    background: #791b60;
    border-radius: 25px;
  }
  
  .emp-item button:hover,
  .emp-item button:active {
    border-color: #791b60;
    background: #4b072f;
  }
  
  button {
    font: inherit;
    border-color: 10px solid rgb(37, 37, 77);
    color: white;
    background: dodgerblue;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    cursor: pointer;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover,
  button:active {
    background: rgb(37, 37, 77);
    border-color: dodgerblue;
  }

  section {
    width: 40rem;
    max-width: 90%;
    margin: 2rem auto;
    border: 1.5px solid #ccc;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
  }
  
  span {
    color: rgb(37, 37, 77);;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 27%;
  }

  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    border-bottom: #383838;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }

  #pic {
    width: 250px;
    height: 80px;
  }

  #imgEmp {
    width: 300px;
    height: 300px;
  }

  label {
    font-weight: bold;
    margin: 0.5rem 0;
    color: #464646;
  }

  select {
    font-weight: bold;
    margin: 0.5rem 0;
    color: #464646;
    height: 35px;
  }

  option {
    font-weight: bold;
    margin: 0.5rem 0;
    color: #464646;
    height: 35px;
  }
  
  input {
    font: inherit;
    border: 1px solid #ccc;
    padding: 0.4rem 0.2rem;
    color: #383838;
  }
  
  input:focus {
    outline: none;
    background: #eaf4f4;
  }

  .modal {
    position: fixed;
    z-index: 100;
    background: white;
    border-radius: 10px;
    width: 80%;
    top: 30vh;
    left: 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: none;
  }
  
  .modal.visible {
    display: block;
    animation: fade-slide-in 0.5s ease-out forwards;
  }

  .modal .modal__content {
    padding: 1rem;
  }
  
  .modal .modal__actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  #backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
  }
  
  #backdrop.visible {
    display: block;
    pointer-events: all;
  }

  #add-modal .modal__content {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes fade-slide-in {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0);
    }
  }

  body {
    background-color: #f1f1f1;
  }

  #picHeader {
    width: 100%;
    height: 80px;
  }